page {
  width: 100%;
  height: 100%;
  background-color: $page_bg;
}
.maintain-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.maintain-info {
  font-size: 32rpx;
}
.maintain-duration-info {
  margin-top: 100rpx;
  color: $tips;
}
.maintain-tips {
  margin-top: 10rpx;
  font-size: 24rpx;
  color: $tips;
}


.maintain-ctrls {
  margin-top: 200rpx;
  padding: 30rpx 60rpx;
}
.maintain-ctrl {
  width: 200rpx;
  margin: 20rpx auto;
  padding: 15rpx 20rpx;
  border-radius: 12rpx;
  font-size: 32rpx;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  white-space: nowrap;
  background-color: $btnbg_sub;
}