.collage-tabs {
  display: flex;
  align-items: center;
  box-shadow: 0 -16rpx 24rpx 0 rgba(0,0,0,0.08);
}
.collage-tab {
  flex: 1;
  width: 80rpx;
  padding: 15rpx 20rpx 5rpx 20rpx;
}
.collage-tab-icon-box {
  width: 48rpx;
  height: 48rpx;
  margin: 0 auto;
  overflow: hidden;
}
.collage-tab-icon {
  width: 48rpx;
  height: auto;
}
.collage-tab-title {
  font-size: 20rpx;
  text-align: center;
}
.collage-tab-title.active {
  color: $primary;
}


.collage-pages {
  height: 100%;
  overflow: hidden;
}
.collage-products {
  padding-top: 20rpx;
}
.collage-product {
  display: flex;
  margin-top: 20rpx;
  background-color: #fff;
}
.collage-product:first-child {
  margin-top: 0;
}
.collage-product-img-box {
  position: relative;
  width: 280rpx;
  height: 280rpx;
  overflow: hidden;
}
.collage-product-img {
  display: block;
  width: 280rpx;
  height: auto;
}
.collage-product-type-tag {
  position: absolute;
  top: 10rpx;
  left: 0;
  padding: 5rpx 10rpx;
  border-radius: 0 8rpx 8rpx 0;
  font-size: 24rpx;
  color: #fff;
  // 动态标记点
  background-image: linear-gradient(90deg, #F76A79 0%, #F18C62 100%);
}
.collage-product-info {
  flex: 1;
  width: 80rpx;
  padding: 20rpx 20rpx 20rpx 30rpx;
}
.collage-product-title {
  display: -webkit-box;
  height: 2.8em;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
  overflow: hidden;
}
.collage-tag {
  display: inline-block;
  margin-right: 5rpx;
  padding: 0 8rpx;
  border-radius: 30rpx;
  font-size: 24rpx;
  color: #fff;
  // 动态标记点
  background-color: #f67174;
}


.collage-info {
  display: flex;
  align-items: center;
  margin-top: 25rpx;
  font-size: 24rpx;
  color: $tips;
}
.collage-info-avatars {
  display: flex;
  align-items: center;
}
.collage-product-avatar {
  display: block;
  width: 44rpx;
  height: 44rpx;
  margin-left: -24rpx;
}
.collage-product-avatar:first-child {
  margin-left: 0;
}
.collage-info-number {
  flex: 1;
  width: 80rpx;
}


.collage-product-vals {
  display: flex;
  align-items: baseline;
  margin-top: 20rpx;
  font-size: 24rpx;
}
.collage-product-val {
  font-size: 34rpx;
  font-weight: 500;
  color: $val;
}
.collage-product-val-unactive {
  margin-left: 10rpx;
  text-decoration: line-through;
  color: $tips;
}

.collage-product-ctrls {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.collage-product-ctrl {
  width: 157rpx;
  padding: 10rpx 0;
  border: 1px solid $primary;
  border-radius: 30rpx;
  text-align: center;
  color: $primary_text;
  background-color: $primary;
}

.error-color {
  color: #f56c6c;
}
.success-color {
  color: #67c23a;
}