
.not-wechat-page {
  height: 100%;
  text-align: center;
  background-color: #333;
}
.not-wechat-img {
  width: 480rpx;
  height: 480rpx;
  max-width: 280px;
  max-height: 280px;
  margin: 50px auto;
}
.not-wechat-tips {
  width: 480rpx;
  max-width: 280px;
  font-size: 14px;
  margin: 0 auto;
  color: #fff;
}