
.order-address-border {
  display: block;
  width: 750rpx;
  height: 10rpx;
}

.order-products {
  margin-top: 20rpx;
  background-color: #fff;
}
/* 列表数据 */
.shopcar-orders {
  /* border-top: 20rpx solid #f2f3f3; */
}
.shopcar-order {
  display: flex;
  padding: 30rpx;
  border-bottom: 1rpx solid #eee;
}
.shopcar-order:last-child {
  border-bottom: 0;
}
.shopcar-order-top {
  height: 125rpx;
}
.shopcar-order-select {
  display: flex;
  align-items: center;
  width: 50rpx;
  height: 176rpx;
}
.shopcar-order-img-box {
  width: 176rpx;
  height: 176rpx;
  margin-right: 20rpx;
  overflow: hidden;
}
.shopcar-order-img {
  width: 176rpx;
}
.shopcar-order-info {
  flex: 1;
  width: 80rpx;
}
.shopcar-order-name {
  display: -webkit-box;
  max-height: 2.8em;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.shopcar-order-property {
  margin-top: 10rpx;
  color: #999;
  font-size: 24rpx;
}
.shopcar-order-val-box {
  display: flex;
  align-items: center;
  margin-top: 15rpx;
  font-size: 28rpx;
  font-weight: 500;
  color: $secondary_text;
}
.shopcar-order-val {
  font-size: 30rpx;
  color: $val;
}
.shopcar-order-val.shopcar-order-val-unactive {
  color: $secondary_text;
  text-decoration: line-through;
}
.shopcar-order-vip-val {
  display: flex;
  align-items: center;
  margin-left: 20rpx;
  font-size: 24rpx;
}
.shopcar-order-count {
  flex: 1;
  width: 80rpx;
  font-size: 24rpx;
  text-align: right;
  color: #999;
}

/* 订单信息 */
.order-infos {
  margin-top: 20rpx;
  padding: 0 30rpx;
  background-color: #fff;
}
.order-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20rpx 0;
  border-bottom: 1rpx solid #eee;

  white-space: nowrap;
}
.order-info-name {
  color: #999;
}
.order-info-val {
  flex: 1;
  width: 80rpx;
  margin-left: 20rpx;
  text-overflow: ellipsis;
  text-align: right;
  overflow: hidden;
  .highlight {
    color: $text;
  }
}
.order-info-arrow {
  display: block;
  width: 1em;
  height: 1em;
  margin-left: 10rpx;
}

.order-info-total {
  display: flex;
  align-items: center;
  padding: 20rpx 0;
  font-weight: 500;
}
.order-info-total-val {
  flex: 1;
  align-items: center;
  text-align: right;
  color: $val;
}


.order-ctrls-box {
  display: flex;
  align-items: center;
  padding: 20rpx 30rpx calc(40rpx + env(safe-area-inset-bottom)) 30rpx;
  background-color: #fff;
  box-shadow: 0 -16rpx 24rpx 0 rgba(0,0,0,0.08);
}
.order-payinfo {
  flex: 1;
  width: 80rpx;
  color: #999;
}
.order-payinfo-val {
  font-size: 36rpx;
  font-weight: 500;
  vertical-align: middle;
  color: $val;
}
.order-ctrls {
  display: flex;
  align-items: center;
}
.order-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 258rpx;
  height: 85rpx;
  margin-left: 20rpx;
  border-radius: 43rpx;
  font-size: 28rpx;
  font-weight: 500;
  color: $btntext;
  background-color: $btnbg;
  &:after {
    display: none;
  }
}