
page {
  background-color: #fff;
}

.pay-result-banner {
  padding: 100rpx 30rpx 100rpx 30rpx;
  background-color: #fff;
}
.pay-result-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pay-success-icon {
  display: block;
  width: 80rpx;
  height: 80rpx;
  margin: 0 auto;
}
.pay-result-title {
  margin-top: 40rpx;
  font-size: 36rpx;
}
.pay-result-tips {
  margin-top: 10rpx;
  font-size: 25rpx;
  color: $h1;
}

.pay-result-btns {
  display: flex;
  align-items: center;
  margin-top: 20rpx;
}
.pay-result-btn {
  margin: 0 20rpx;
  padding: 16rpx 40rpx;
  border: 2rpx solid $border_color;
}
.pay-result-btn.primary {
  border: 2rpx solid $btnbg;
  color: $btnbg;
}
