

.coupons-page {
  font-weight: normal;
}
/* 导航条 */
.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1rpx solid #ccc;
  background-color: #fff;
  overflow-x: auto;
}
.tab {
  flex: 1;
  padding: 30rpx;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
.tab.active {
  position: relative;
  color: $primary;
}
.tab.active:after {
  content: '';
  position: absolute;
  bottom: 15rpx;
  left: 0;
  right: 0;
  display: block;
  width: 4em;
  height: 4rpx;
  margin: 0 auto;
  background-color: $primary;
}
.tab-pages {
  flex: 1;
  // height: 80rpx;
  height: 100%;
}
.tab-page {
  height: 100%;
}
.tab-page-scroll {
  height: 100%;
}


.coupon {
  position: relative;
  margin: 40rpx 40rpx 0 40rpx;
}
.coupon:last-child {
  margin-bottom: 40rpx;
}
.coupon-bg {
  display: block;
  width: 670rpx;
  height: 180rpx;
}
.coupon-content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.coupon-intro {
  flex: 1;
  display: flex;
  width: 80rpx;
  padding: 25rpx 20rpx;
  align-items: center;
}
.coupon-img {
  width: 114rpx;
  height: auto;
  margin-right: 20rpx;
}
.coupon-info {
  flex: 1;
  width: 80rpx;
}
.coupon-name {
  display: -webkit-box;
  height: 2.8em;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 30rpx;
  font-weight: 500;
  overflow: hidden;
}
.coupon-name-with-tag {
  display: flex;
  align-items: center;
  font-size: 30rpx;
  font-weight: 500;
  padding-bottom: 1em;
}
.coupon-tagname-name {
  flex: 1;
  width: 80rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.coupon-tagname-all {
  margin-right: 10rpx;
  padding: 8rpx 20rpx;
  border-radius: 53rpx;
  font-size: 26rpx;
  color: #fff;
  background-color: $secondary_text;
}
.coupon-tagname-category {
  margin-right: 10rpx;
  padding: 8rpx 20rpx;
  border: 1rpx solid #dbd6d0;
  border-radius: 8rpx;
  font-size: 26rpx;
  color: $h1;
  background-color: #f2f3f3;
}
.coupon-price-info {
  display: flex;
  align-items: center;
  margin-top: 15rpx;
  white-space: nowrap;
  font-size: 24rpx;
}
.coupon-price-origin {
  margin-right: 15rpx;
}
.coupon-price-last,
.coupon-price-limit {
  /* color: #e2283d; */
  /* color: $primary; */
}


.coupon-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 154rpx;
  padding: 25rpx 20rpx;
}
.coupon-price {
  font-size: 50rpx;
  letter-spacing: 1rpx;
  vertical-align: bottom;
  color: $val;
}
.coupon-discount {
  font-size: 40rpx;
}
.coupon-symbol {
  font-size: 24rpx;
}
.coupon-discount-limit {
  font-size: 18rpx;
}
.coupon-use-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140rpx;
  height: 50rpx;
  margin-top: 10rpx;
  border-radius: 25rpx;
  white-space: nowrap;
  font-size: 24rpx;
  color: #fff;
  background-image: linear-gradient(90deg, #dcb695 6%, #cd966f 100%);
}

/* 我的部分 */
.my-coupon {
  position: relative;
  // margin: 40rpx 40rpx 0 40rpx;
}
// .my-coupon:last-child {
//   margin-bottom: 40rpx;
// }
// .my-coupon .coupon {
//   margin: 0;
// }
.my-coupon .coupon-bg {
  width: 670rpx;
  height: 228rpx;
}
.my-coupon .coupon-ctrl {
  color: #fff;
}
.my-coupon .coupon-price {
  color: #fff;
}
.coupon-tag-all {
  display: inline-block;
  margin-right: 10rpx;
  padding: 3rpx 20rpx;
  border-radius: 21rpx;
  font-size: 26rpx;
  color: #fff;
  background-color: #cecece;
}

.coupon-validtime-info {
  display: flex;
  align-items: center;
  margin-top: 15rpx;
  font-size: 24rpx;
}
.coupon-validtime {
  flex: 1;
  width: 80rpx;
}
.coupon-more {
  width: 30rpx;
  height: 30rpx;
  padding: 10rpx 20rpx;
  margin: 0 20rpx;
}
.coupon-more-icon {
  width: 30rpx;
  height: 30rpx;
}
.coupon-extend-info {
  padding: 30rpx;
  border-radius: 12rpx;
  font-size: 26rpx;
  color: $tips;
  background-color: #fff;
}
.coupon-extend-item {
  display: flex;
  margin-bottom: 12rpx;
  white-space: nowrap;
}
.coupon-extend-item:last-child {
  margin-bottom: 0;
}
.coupon-extend-item-label {

}
.coupon-extend-item-values {
  flex: 1;
  width: 80rpx;
}
.coupon-extend-item-value {
  text-overflow: ellipsis;
  overflow: hidden;
}

.coupon-disable-tag {
  position: absolute;
  top: 50%;
  right: 200rpx;
  width: 174rpx;
  height: 174rpx;
  transform: translateY(-50%);
}