

.order-status-banner {
  position: relative;
  display: flex;
  align-items: center;
  width: 750rpx;
  height: 140rpx;
  margin-bottom: 10rpx;
  overflow: hidden;
  color: $primary_text;
  background-color: $primary;
}
.order-status-bg {
  display: block;
  width: 750rpx;
  height: auto;
}
.order-status-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20rpx 40rpx 20rpx 40rpx;
  box-sizing: border-box;
  color: $text;
}
.order-status-text {
  font-size: 34rpx;
  font-weight: 500;
}
.order-status-tips {
  margin-top: 15rpx;
  font-size: 24rpx;
}

/* 收货人信息 */

.order-user-bar {
  display: flex;
  align-items: flex-end;
  padding: 30rpx;
  background-color: #fff;
}
.order-address-icon {
  width: 40rpx;
  height: 40rpx;
  margin-right: 20rpx;
}
.order-user-baseinfo {
  font-size: 28rpx;
  color: $text;
}
.order-user-name {
  max-width: 5em;
  margin-right: 20rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.order-user-infos {
  flex: 1;
  width: 80rpx;
  margin-left: 10rpx;
  font-size: 24rpx;
  color: #7f7f7f;
}
.order-user-info {
  margin-top: 20rpx;
  word-break: break-all;
}
.order-user-base-info {
  font-size: 28rpx;
  color: $h2;
}
.order-user-info:first-child {
  margin-top: 0;
}
.order-user-tag {
  height: 28rpx;
  padding: 2rpx 9rpx;
  border-radius: 16rpx;
  font-size: 20rpx;
  color: $primary_text;
  background-color: $primary;
}
.order-user-more {
  display: block;
  width: 24rpx;
  height: 32rpx;
  margin-left: 10rpx;
}
.order-address-border {
  display: block;
  width: 750rpx;
  height: 10rpx;
}

.order-products {
  margin-top: 20rpx;
  background-color: #fff;
}

/* 物流 */
.order-logistics-bar {
  display: flex;
  align-items: center;
  padding: 40rpx 30rpx;
  border-bottom: 1px solid $border_color;
  background-color: #fff;
}
.order-logistics-icon {
  width: 40rpx;
  height: 40rpx;
  margin-right: 20rpx;
}
.order-logistics-infos {
  flex: 1;
  width: 80rpx;
}
.order-logistics-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
  color: $logistics_text;
  overflow: hidden;
}
.order-logistics-time {
  margin-top: 15rpx;
  font-size: 24rpx;
  color: $tips;
}
.order-logistics-more {
  width: 40rpx;
  height: 40rpx;
  margin-left: 20rpx;
}

/* 底部按钮 */
.order-ctrls {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-top: 1rpx solid $border_color;
  font-size: 32rpx;
  background-color: #fff;
  box-shadow: 0 -16rpx 24rpx 0 rgba(0,0,0,0.08);
}
.order-ctrl-info {
  flex: 1;
  width: 80rpx;
  padding: 0 30rpx;
  color: #979797;
}

.order-ctrl-sm {
  min-width: 120rpx;
  padding: 14rpx 40rpx;
  margin-left: 20rpx;
  border: 1px solid $tips;
  border-radius: 40rpx;
  text-align: center;
}
.order-ctrl-sm:last-child {
  margin-right: 30rpx;
}
.order-ctrl-sm.primary {
  border-color: $btnbg;
  color: $btntext;
  background-color: $btnbg;
}
.order-ctrl-sm.disabled {
  border-color: $btnbg_disabled;
  color: #fff;
  background-color: $btnbg_disabled;
}
.should-pay {
  color: $val;
}

.confirm-complete-ctrls {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1rpx solid $border_color;
  background-color: #fff;
  box-shadow: 0 -16rpx 24rpx 0 rgba(0,0,0,0.08);
}
.confirm-complete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220rpx;
  height: 98rpx;
  margin: 0;
  font-size: 32rpx;
  color: $btntext;
  background-color: $btnbg;
}
.order-receipt-btn {
  margin-right: 30rpx;
  color: $tips;
  border-color: #9b9b9b;
}


/* 列表数据 */
.shopcar-orders {
  /* border-top: 20rpx solid #f2f3f3; */
}
.shopcar-order {
  display: flex;
  padding: 30rpx;
  border-bottom: 1px solid $border_color;
}
.shopcar-order-top {
  height: 125rpx;
}
.shopcar-order-select {
  display: flex;
  align-items: center;
  width: 50rpx;
  height: 176rpx;
}
.shopcar-order-img-box {
  width: 180rpx;
  height: 180rpx;
  margin-right: 20rpx;
  overflow: hidden;
}
.shopcar-order-img {
  width: 180rpx;
}
.shopcar-order-info {
  flex: 1;
  width: 80rpx;
}
.shopcar-order-name-box {
  display: flex;
}
.shopcar-order-name {
  display: -webkit-box;
  max-height: 2.8em;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.shopcar-order-name-flex {
  flex: 1;
  width: 80rpx;
}
.shopcar-order-count-static {
  margin-left: 30rpx;
  font-size: 24rpx;
  color: #999;
}

.shopcar-order-property {
  margin-top: 10rpx;
  color: #999;
  font-size: 24rpx;
}
.shopcar-order-val-box {
  display: flex;
  align-items: center;
  margin-top: 15rpx;
  font-size: 28rpx;
  color: $secondary_text;
}
.shopcar-order-val {
  font-size: 30rpx;
  color: $val;
}
.shopcar-order-val.shopcar-order-val-unactive {
  color: $secondary_text;
  text-decoration: line-through;
}
.shopcar-order-vip-val {
  display: flex;
  align-items: center;
  margin-left: 20rpx;
  font-size: 24rpx;
}
.shopcar-order-count {
  flex: 1;
  width: 80rpx;
  font-size: 24rpx;
  text-align: right;
  color: #999;
}

.shopcar-order-real-val {
  flex: 1;
  display: flex;
  align-items: center;
  width: 80rpx;
  font-size: 28rpx;
  color: $text;
}
.shopcar-order-val-real {
  font-size: 32rpx;
  font-weight: 500;
  color: $val;
}

.shopcar-order-ctrl {
  padding: 9rpx 40rpx;
  border: 1px solid $secondary_text;
  border-radius: 30rpx;
  color: $text;
}

/* 订单信息 */
.order-infos {
  padding: 12rpx 30rpx;
  background-color: #fff;
}
.order-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8rpx 0;
  white-space: nowrap;
}
.order-info-name {
  color: #999;
}
.order-info-val {
  flex: 1;
  width: 80rpx;
  margin-left: 20rpx;
  text-overflow: ellipsis;
  text-align: right;
  color: $secondary_text;
  overflow: hidden;
}

.order-info-total {
  display: flex;
  align-items: center;
  margin-top: 2rpx;
  padding: 20rpx 30rpx 34rpx 30rpx;
  font-weight: 500;
  background-color: #fff;
}
.order-info-total-val {
  flex: 1;
  align-items: center;
  text-align: right;
  color: $val;
}


/* 订单号及其他相关信息 */
.order-base-infos {
  margin-top: 20rpx;
  padding: 30rpx;
  background-color: #fff;
}
.order-base-info {
  display: flex;
  align-items: center;
  margin-top: 15rpx;
  font-size: 26rpx;
  color: $tips;
}
.order-base-info:first-child {
  margin-top: 0;
}
.order-base-info-val {
  flex: 1;
  width: 80rpx;
}
.order-base-info-btn {
  padding: 2rpx 30rpx;
  border: 1rpx solid $secondary_text;
  border-radius: 23rpx;
  color: $secondary_text;
}


.order-delete {
  width: 60rpx;
  font-size: 22rpx;
  text-align: center;
}
.order-delete-icon {
  width: 40rpx;
  height: 30rpx;
  margin: 0 auto;
}

.crowd-activity-sign {
  font-size: 26rpx;
}

