.step-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.step-tab {
  position: relative;
  padding: 40rpx 80rpx;
  font-size: 32rpx;
  font-weight: 300;
  &.active {
    font-weight: 500;
    &:after {
      content: '';
      position: absolute;
      bottom: 20rpx;
      left: 0;
      right: 0;
      width: 50rpx;
      height: 4rpx;
      margin: 0 auto;
      background-color: $text;
    }
  }
}


.tab-page-scroll,
.list-box {
  height: 100%;
  overflow: hidden;
}
.step {
  display: flex;
  margin-top: 20rpx;
  padding: 30rpx;
  background-color: #fff;
}

.step-list,
.user-step-list {
  padding-top: 1rpx;
}

// 用户足迹
.step-date {
  padding: 40rpx 40rpx 0 40rpx;
}
.step-avatar-box {
  width: 120rpx;
  height: 120rpx;
  margin-right: 30rpx;
  border-radius: 50%;
  overflow: hidden;
}
.step-avatar {
  display: block;
  width: 120rpx;
}

.step-infos {
  flex: 1;
  width: 80rpx;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.step-username {
  font-size: 32rpx;
  padding-bottom: 10rpx;
}
.step-info {
  margin-top: 5rpx;
  text-overflow: ellipsis;
  overflow: hidden;
  // 动态标记点
  color: #4a4a4a;
}
.step-goods-imgs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30rpx;
  border-top: 1rpx solid $border_color;
}
.step-goods-img-box {
  width: 120rpx;
  height: 120rpx;
  margin-top: 30rpx;
  margin-right: 20rpx;
  overflow: hidden;
  &:nth-child(4n) {
    margin-right: 0;
  }
}
.step-goods-img {
  display: block;
  width: 120rpx;
  height: auto;
}
.step-goods-img-more {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 120rpx;
  height: 120rpx;
  margin-top: 30rpx;
  margin-right: 20rpx;
  font-size: 24rpx;
  color: $tips;
  background-color: $border_color;
  &:nth-child(4n) {
    margin-right: 0;
  }
}


// 我的足迹
.user-step-goods-img-box {
  width: 160rpx;
  height: 160rpx;
  margin-right: 30rpx;
  overflow: hidden;
}
.user-step-goods-img {
  width: 160rpx;
}
.user-step-goods-infos {
  flex: 1;
  width: 80rpx;
}
.user-step-goods-title {
  display: -webkit-box;
  height: 2.8em;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.user-step-goods-info {
  display: flex;
  align-items: center;
  margin-top: 30rpx;
}
.user-step-goods-vals {
  flex: 1;
  display: flex;
  align-items: baseline;
}
.user-step-goods-val {
  margin-right: 20rpx;
  font-size: 32rpx;
  color: $val;
}
.user-step-goods-val-unactive {
  font-size: 24rpx;
  text-decoration: line-through;
  color: $tips;
}
.user-step-goods-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160rpx;
  height: 56rpx;
  margin-left: 15rpx;
  border-radius: 28rpx;
  color: $btntext;
  background-color: $btnbg;
}