.time-filter-bar {
  padding: 20rpx;
}
.time-filter-trigger {
  display: flex;
  padding: 10rpx 20rpx;
  border-radius: 32rpx;
  background-color: #fff;
}
.time-filter-placeholder {
  color: $placeholder;
}
.time-filter-val {
  flex: 1;
  width: 80rpx;
  margin: 0 20rpx;
}
.time-filter-icon,
.time-filter-search {
  width: 1.4em;
  height: 1.4em;
}
.list-box {
  height: 100%;
  background-color: #fff;
}
// 列表
.tab-page-scroll {
  height: 100%;
  .data-list {
    background-color: #fff;
    .data-item {
      position: relative;
      padding: 20rpx 40rpx;
      &:not(:last-child):after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 40rpx;
        right: 40rpx;
        height: 2rpx;
        background-color: $border_color;
        transform: translateY(.5);
      }
      .data-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 32rpx;
      }
      .data-row {
        margin-top: 12rpx;
        .data-name {
          flex: 1;
          width: 80rpx;
          font-weight: 500;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          &.success {
            color: $vip_primary;
          }
          &.error {
            color: $tips;
          }
        }
        .data-val {
          font-weight: 500;
        }
        .data-info {
          font-size: 26rpx;
          color: $tips;
        }
      }
    }
  }
}