

/* 个人信息区域 */
.total-box {
  position: relative;
  padding: 40rpx;
  height: 180rpx;
  overflow: hidden;
}

.total-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 750rpx;
  height: 250rpx;
  overflow: hidden;
  z-index: 0;
}
.total {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 60rpx 40rpx 50rpx 40rpx;
  box-sizing: border-box;
  font-size: 28rpx;
}
.total-vals {
  display: flex;
  align-items: center;
  // font-family: 'AGP';
}
.total-val-lg {
  font-size: 60rpx;
  color: $vip_primary;
}
.total-val-sm {
  font-size: 46rpx;
  color: $vip_primary;
}
.total-title {
  margin-top: 7rpx;
  font-size: 28rpx;
  font-weight: normal;
  color: $tips;
}
.total-val-as-money {
  position: absolute;
  top: -5rpx;
  left: 100%;
  padding: 2rpx 20rpx;
  border-radius: 20rpx 20rpx 20rpx 0;
  font-size: 26rpx;
  line-height: 36rpx;
  color: #fff;
  background-color: $val;
}


/* tab */
.tabs {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20rpx;
  overflow-x: auto;
  border-bottom: 1rpx solid #ccc;
  background-color: #fff;
}
.tab {
  flex: 1;
  padding: 30rpx;
  font-size: 34rpx;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}
.tab.active {
  position: relative;
  color: $primary;
}
.tab.active:after {
  content: '';
  position: absolute;
  bottom: 15rpx;
  left: 0;
  right: 0;
  display: block;
  width: 4em;
  height: 4rpx;
  margin: 0 auto;
  background-color: $primary;
}

.tab-page-scroll {
  height: 100%;
  font-weight: normal;
  background-color: #fff;
}
.list-box {
  height: 100%;
  background-color: #fff;
}


/* 收入列表 */
.growth-value {
  position: relative;
  display: flex;
  padding: 30rpx 40rpx;
}

.growth-value::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1rpx;
  background-color: $border_color;
}
.growth-value-info {
  flex: 1;
  width: 80rpx;
  white-space: nowrap;
}
.growth-value-desc {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.growth-value-desc-item {
  display: flex;
  align-items: center;
  margin-top: 5rpx;
  font-size: 24rpx;
  color: $tips;
}
.growth-value-desc-orderid {
  flex: 1;
  width: 80rpx;
  text-overflow: ellipsis;
  overflow: hidden;
}
.growth-value-create-time {
  margin-top: 5rpx;
  font-size: 24rpx;
  color: $secondary_text;
}
.growth-value-val {
  text-align: right;
  // font-family: 'AGP';
  font-size: 30rpx;
  color: $vip_primary;
}
.growth-value-desc-orderval {
  margin-top: 5rpx;
  font-size: 24rpx;
  color: $tips;
}
.growth-value-less {
  color: $tips;
}

